.App {
  display: ;
}
.block-step-one {
  width: 80%;
  border:  red 1px solid;
}
.heading-step-one {
  width: 275px;
  height: 25px;
  border-bottom: 3px solid #4285F4 ;
  line-height: 25px;
  font-size: 18px;
  color: #484848;
}

