.block-step-one {
ищк
 
}
.heading-step-one {
  line-height: 25px;
  font-size: 18px;
  color: #484848;
  width: 290px;
  height: 25px;
}
.hrStepOne {
  width: 275px;
  height: 3px;
  color: #4285F4;
}
